/* my-app/src/List.css */
.add-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    padding: 10px;
    background-color: #f5deb3;
}

.add-item-input {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-item-button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}